# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# pycharm
.idea/

# files
_pythonanywhere_temp.txt
./djangovet/settings.py